@model UserModel

@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Home" method="post" class="form">
    <div class="col-form-label">
        <label for="textInput" class="fw-bold">Enter your name:</label>
        <input type="text" id="textInput" class="form-control" placeholder="Your name" asp-for="Name" />
    </div>
    <input type="submit" name="btnSubmit" value="Submit" asp-action="NameDisplay"/>
</form>